{
  "extends": "eslint:recommended",
  "rules": {
    "indent": [
      "error",
      2, {
        "VariableDeclarator": 2
      }
    ],
    "one-var": ["error", "never"],
    "quotes": ["error", "single"],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"]
  },
  "env": {
    "browser": true
  }
}
