[user]
	name = StefanoMagrassi
	email = stefano.magrassi@gmail.com
[core]
	editor = vim
[push]
	default = simple
[merge]
	tool = meld
[diff]
	tool = meld
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	short = log --abbrev-commit --pretty=oneline
	rmremote = push origin --delete
[mergetool]
	keepBackup = false
